<ion-view view-title="Add Item">
    <ion-content class="padding">
        <div class="list list-inset">
            <label class="item item-input">
      <span class="input-label">Item name</span>
    <input name="name" type="text" ng-model="item.name">
    <!--<input name="email" type="email" placeholder="{{'Email' | translate}}" ng-model="user.email" required>-->
  </label>
            <label class="item item-input">
       <span class="input-label">Add picture</span>
       <input name="pic" type="text" ng-model="item.pic" placeholder="Paste your image url here to preview your picture">
       <!--<input type="file" onchange="readURL(this);" name="pic" ng-model="item.pic" accept="image/*;capture=camera">-->
    <img id="blah" src="{{item.pic}}" width="200px">
  </label>
            <label class="item item-input">
       <span class="input-label">Description</span>
    <input name="description" type="text" ng-model="item.description">
  </label>
        <label class="item item-input item-select">
            <div class="input-label">Location</div>
            <!--<input name="location" type="text" ng-model="item.location">-->
            <select ng-model="item.location">
                <option ng-repeat="x in rooms" value="{{x.room}}">{{x.room}}</option>
            </select>
        </label>
        <input value=$scope.roomName type="text" placeholder="Add a new location here" ng-model="roomName.room">
            <button ng-click="addRoom()">Add Location</button>

            
        </div>
        <br><br><br> <center><button ng-click="addItem()" class="button button-outline button-calm">
          Add Item
          <i class="ion-ios-plus-outline"></i>
        </button></center>
    </ion-content>
</ion-view>