 <ion-view view-title="Item Name Search Result">
    <ion-content class="padding">

<span>
  <div class="list card">
<center>
  <div class="item item-avatar">
    <img ng-src="{{showItem.pic}}"/>
    <h2>{{showItem.name}}</h2><br>
    <p>{{showItem.location}}</p>
  </div>

  <div class="item item-body">
    <img width="200px" ng-src="{{showItem.pic}}"/>
    <p>
      {{showItem.description}}
    </p>
  </div>
</center>
</div>
</span>
<!--<span> <center><button class="button button-outline button-positive" ng-click="modal.show()">-->
<!--          Edit item-->
<!--          <i class="ion-ios-compose"></i>-->
<!--        </button><br><br>-->
        <center><button class="button button-outline button-positive" ng-click=deleteItem()> 
        Delete item 
        <i class="ion-ios-trash"></i></button></center></span>
</ion-content>
</ion-view>