<ion-view view-title="Search for Item by Name">
    <ion-content class="padding">
<div class="list list-inset">
  <label class="item item-input">
    <i class="icon ion-search placeholder-icon"></i>
    <input type="text" placeholder="Search">
  </label>
</div>
<br><br><br>
<center><button class="button button-outline button-positive">
  Find My Item
  </button>
  </center>
  <ion-item collection-repeat="item in items |orderBy:'location'" ng-click="goToItem(item)">
    {{item.items}}
</ion-item>
</ion-content>
</ion-view>