 <ion-view view-title="Search for Item by Picture">
    <ion-content class="padding">
     <div class="row unlimited-items"> 
          <div class="col" ng-repeat="pic in items | orderBy: 'name'" ng-click=goToItem(pic)>
 <!--<ion-item ng-repeat="pic in items | orderBy: 'name'" ng-click=goToItem(pic)>-->
    <img src="{{pic.pic}}" width="100px" height="100px">
    </div>
    </div>
<!--</ion-item>-->
</ion-content>
</ion-view>






<!--<ion-pane>-->
<!--    <ion-header-bar class="bar-stable">-->
<!--      <h1 class="title">Image Picker Example</h1>-->
<!--    </ion-header-bar>-->
<!--    <ion-content ng-controller="itemPicCtrl">-->

<!--    </ion-content>-->
<!-- </ion-pane>-->