<ion-view view-title="Menu">
    <ion-content class="padding">
        
<div class="list">
  <label class="item item-input">
    <span class="input-label">Username</span>
    <input type="text">
  </label>
  <label class="item item-input">
    <span class="input-label">Password</span>
    <input type="password">
  </label>

        
        <button class="button button-block button-positive" ui-sref="Menu">
          Sign In
        </button>
        If you are not a registered user click below to create an account!
        <button class="button button-block button-positive">
          Create Account
        </button>
        </div>
    </ion-content>
</ion-view>
