<ion-view view-title="Menu">
    <ion-content class="padding">
      <center><button class="button button-outline button-positive" ui-sref="myItems">
          My Items
          <i class="ion-ios-list-outline"></i>
        </button><br><br>
        <center><button class="button button-outline button-calm" ui-sref="itemName">
          Search for item by name
          <i class="ion-edit"></i>
        </button><br><br>
        <button class="button button-outline button-positive" ui-sref="itemPic">
          Search for item by picture
          <i class="ion-image"></i>
        </button><br><br>
        <button class="button button-outline button-calm" ui-sref="itemLoc">
          Search for item by location
          <i class="ion-ios-location"></i>
        </button><br><br>
        <button class="button button-outline button-positive" ui-sref="addItem">
          Add new item
          <i class="ion-ios-plus-outline"></i>
        </button></center>
    </ion-content>
</ion-view>