<ion-view view-title="Menu">
    <ion-content class="padding">
        <button class="button button-block button-positive" ui-sref="itemName">
          Search for item by name
        </button>
        <button class="button button-block button-positive" ui-sref="itemPic">
          Search for item by picture
        </button>
        <button class="button button-block button-positive" ui-sref="itemLoc">
          Search for item by location
        </button>
        <button class="button button-block button-positive" ui-sref="addItem">
          Add new item
        </button>
    </ion-content>
</ion-view>