 <ion-view view-title="Item Name Search Result">
    <ion-content class="padding">

<div class="list card">

  <div class="item item-avatar">
    <img src="https://upload.wikimedia.org/wikipedia/en/thumb/1/1f/Spool_of_string.jpg/1161px-Spool_of_string.jpg">
    <h2>String</h2>
    <p>Attic</p>
  </div>

  <div class="item item-body">
    <img width="200px" src="https://upload.wikimedia.org/wikipedia/en/thumb/1/1f/Spool_of_string.jpg/1161px-Spool_of_string.jpg">
    This is what an item will look like when clicked on. Just have to get that working...
    <p>
      Is this a string?
    </p>
    <p>
      <center><a href="#" class="subdued">Next Item</a></center>
    </p>
  </div>

</div>
</ion-content>
</ion-view>